body {
  height: 100%;
}

.landing-page {
  background-image: url(../img/landing.jpg);
  background-size: cover;
  height: 100vh;
}

.overlay {
  height: 100vh;
  opacity: 0.8;
  z-index: 1;
  text-align: center;
  background-color: black;
}

.caption {
  padding-top: 33rem;
  z-index: 2;
}
