body {
  height: 100vh;
  width: auto;
  background-color: aliceblue;
}

.landing-page {
  background-image: url(../img/landing.jpg);
  background-size: cover;
  height: 100vh;
}

.overlay {
  height: 100vh;
  opacity: 0.8;
  z-index: 1;
  text-align: center;
  background-color: black;
}

.video {
  margin-left: 17rem;
  margin-top: 2rem;
}
